<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Endorser</title>
  <link rel='stylesheet' href='/styles/homeStyles.css'/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="topnav">
    <img class="logo" src="/images/endorserIcon.png" width="45" height="45"/>
    <a href="/">Home</a>
    <a class="active" href="/About">About</a>
    <a href="/Profile">Dashboard</a>
  </div>
  <header>
    <img src="/images/endorserIcon.png" width="50" height="50"/>
    <div>
      <h1 class="titleText" >About Endorser</h1>
      <p class="text" >Endorser is a platform that allows members to rank one another in private groups with the <a style="text-decoration:none" href="https://en.wikipedia.org/wiki/PageRank" style>PageRank Algorithm</a>. Users first create password protected groups and automatically serve as the group admin: a title that can be passed on if they so choose. Admins can then expand their Groups by providing others with the proper credentials. Once groups have reached the desired capacity, users can start endorsing other members of their group. These endorsements can either be public and seen by the entire group or private and shown as an anonymous endorsement. These endorsements are then converted to ranks and displayed within the group.</p>
      <h2 class="subText" >About The Algorithm</h2>
      <p class="text" >The PageRank Algorithm sits at the core of Endorser and was also the first algorithm used by Google to index the internet when they first launched in 1998.</p>
      <p class="text" >It works by counting the number of links to a page to determine a rough estimate of how important the website is in relation to others. The underlying assumption being that important websites are likely to receive more links from other websites. The algorithm will also facter in the quality of links when computing a websites relevence. For example, it is signifiganlty harder for a website to get linked on a reputable site such as Forbes, therefore, Forbes' link to the aformentioned website would hold more value than a typical link.</p>
      <p class="text" >Similarly speaking, the number of links given also play a crutial factor in determining the quality of that link. If a site were to only link one other site, that link would hold more value than a link from a site that linked to 2 or 4 other sites.</p>
    </div>
  </header>
</body>

</html>