<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Endorser</title>
  <link rel='stylesheet' href='/styles/profileStyles.css'/>
</head>

<body>
  <div class="topnav">
    <img class="logo" src="/images/endorserIcon.png" width="45" height="45"/>
    <img class="userLogo" style="border-radius:50%" src="<%=user.thumbnail%>" width="45" height="45"/>
    <a href="/">Home</a>
    <a href="/About">About</a>
    <a class="active" href="/Profile">Dashboard</a>
    <a href="/Logout">Logout</a>
  </div>
  <header>
    <p class="welcome">Welcome, <%=user.username%>!</p>
    <button id="myBtn" type="button">Create New Group</button>
    <button id="joinBtn" type="button">Join Group</button>
  </header>

  <div>
    <main id="rooms">
      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <form class="modal-content" method="POST" action="/profile">
          <span class="close">&times;</span>
          <label for="rTitle">Room Title:</label>
          <input type="text" id="rTitle" name="rTitle"><br><br>
          <div>
            <label for="rID">Room ID:</label>
            <input type="text" id="rID" name="rID"><br><br>
            <button id="randomize" type="button">Random ID</button>
          </div>
          <label for="rSecret">Password:</label>
          <input type="text" id="rSecret" name="rSecret"><br><br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <!-- Modal content -->

      <!-- The Modal -->
      <div id="joinGroup" class="modal">

        <!-- Modal content -->
        <form class="joinGroup-content">
          <span class="close1">&times;</span>
          <label for="rID">Room ID:</label>
          <input type="text" id="rID" name="rID"><br><br>
          <label for="rSecret">Password:</label>
          <input type="text" id="rSecret" name="rSecret"><br><br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <!-- Modal content -->
      <!-- All the Rooms -->
      <% for (var i = 0; i < user.memberOf.length;  i++ ) { %>
      <br/>  <%= user.memberOf[i] %> 
      <% } %>
    </main>
    <main id="room">
    </main>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/javascript/dashboardScript.js"></script>

</body>

</html>