<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Endorser</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav>
    <ul>
      <il><a href="/">Dashboard</a></il>
      <il><a href="/logout">Logout</a></il>
    </ul>
  </nav>
  <header>
    <h1>Welcome, <%=user.username%>!</h1>
    <img src="<%=user.thumbnail%>"/>
  </header>

  <main>
    <p>This is the main area</p>
    <nav>
    <ul>
      <p>Endorse Groups</p>
      <p>Create new Group</p>
    </ul>
  </nav>
  </main>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    
  </script>
</body>

</html>