<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Endorser</title>
  <link rel='stylesheet' href='/styles/homeStyles.css'/>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <nav>
    <ul>
      <il><a href="/">Homepage</a></il>
    </ul>
  </nav>
  <header>
    <img src="/images/endorserIcon.png"/>
    <h1>Welcome to Endorser!</h1>
  </header>

  <main>
    <p>This is the main area</p>
    <nav>
    <ul>
      <p>Sign in using...</p>
      <a class="google-button" href="/google">Google</a>
    </ul>
  </nav>
  </main>
</body>

</html>