<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Endorser</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav>
    <ul>
      <il><a href="/">Homepage</a></il>
    </ul>
  </nav>
  <header>
    <h1>Welcome to Endorser!</h1>
  </header>

  <main>
    <p>This is the main area</p>
    <nav>
    <ul>
      <p>Sign in using...</p>
      <a class="google-button" href="/google">Google</a>
    </ul>
  </nav>
  </main>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    
  </script>
</body>

</html>